Data Pre_Processing using Python Libraries:

Import Python Libraries:

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Read CSV File:

In [30]:
df = pd.read_csv('Data.csv')

Define In-dependent and dependent variables:

In [32]:
X = df.iloc[:, 0:-1].values
Y =df.iloc[:, -1].values

Filling missing values:

In [33]:
from sklearn.impute import SimpleImputer
imputer =SimpleImputer(strategy="mean")
X[:,[1,2]] = imputer.fit_transform(X[:,[1,2]])
imputer =SimpleImputer(strategy="most_frequent")
X[:,[0]]  =imputer.fit_transform(X[:,[0]])
X

array([['India', 34.0, 92000.0],
       ['Sri lanka', 22.0, 25000.0],
       ['China', 31.0, 74000.0],
       ['Sri lanka', 29.0, 54857.142857142855],
       ['China', 55.0, 98000.0],
       ['India', 24.0, 30000.0],
       ['Sri lanka', 28.0, 40000.0],
       ['India', 33.714285714285715, 60000.0],
       ['China', 51.0, 89000.0],
       ['India', 44.0, 78000.0],
       ['Sri lanka', 21.0, 20000.0],
       ['China', 25.0, 30000.0],
       ['India', 33.0, 45000.0],
       ['India', 42.0, 65000.0],
       ['Sri lanka', 33.0, 22000.0]], dtype=object)

One-Hot-Encoder:

In [34]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
obj= ColumnTransformer([("Country", OneHotEncoder(),[0])], remainder='passthrough')
X =pd.DataFrame(obj.fit_transform(X))
X

      0    1    2          3             4
0   0.0  1.0  0.0       34.0       92000.0
1   0.0  0.0  1.0       22.0       25000.0
2   1.0  0.0  0.0       31.0       74000.0
3   0.0  0.0  1.0       29.0  54857.142857
4   1.0  0.0  0.0       55.0       98000.0
5   0.0  1.0  0.0       24.0       30000.0
6   0.0  0.0  1.0       28.0       40000.0
7   0.0  1.0  0.0  33.714286       60000.0
8   1.0  0.0  0.0       51.0       89000.0
9   0.0  1.0  0.0       44.0       78000.0
10  0.0  0.0  1.0       21.0       20000.0
11  1.0  0.0  0.0       25.0       30000.0
12  0.0  1.0  0.0       33.0       45000.0
13  0.0  1.0  0.0       42.0       65000.0
14  0.0  0.0  1.0       33.0       22000.0

Train Test Split:

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 3)

Min-Max Scaler:

In [36]:
from sklearn.preprocessing import MinMaxScaler
s = MinMaxScaler()
X_train = s.fit_transform(X_train)
X_test = s.fit_transform(X_test)
print(X_test)

[[0.         1.         0.         0.33333333 0.2739726 ]
 [1.         0.         0.         1.         1.        ]
 [0.         0.         1.         0.         0.        ]
 [0.         0.         1.         0.18181818 0.20547945]
 [1.         0.         0.         0.27272727 0.67123288]]